<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div>
        <h1>Create a post:</h1>
    </div>
    
    <div>
        <form action="/create" method="post">
            <input type="text" name="title" required>
            <textarea name="text" cols="30" rows="10"></textarea>
            <input type="submit" value="Create">
        </form>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>