<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/index.css">
    <style>
        nav {
            background-color: transparent;
        }
    </style>
</head>

<body>
    <%- include("./partials/nav.ejs") %>
    <div id="flex">


        <div class="box-1">
            <h1>Welcome</h1>
            <p>Welcome to Gamecard! A social network made for gamers alike. Communicate with other gamers around the
                world or explore our immense library of video games and learn how you can easily organize your favorite
                games.</p>
            <div class="flex">
                <form action="/sign_in" method="get">
                    <input type="submit" value="Sign in">
                </form>
                <a href="/sign_up">Sign up</a>
            </div>
        </div>
        <div class="box-2">
            <h1>Explore and save</h1>
            <p>Explore the immense library of video games where you can add and save games to your personal gamecard profile.</p>
            <div class="flex">
                <p>Playing</p>
                <p>Played</p>
                <p id="want">Want</p>
            </div>
            <div class="flex">
                <img src="img/posters/Control.jpg" alt="" width="180" height="270">
                <img src="img/posters/Celeste.jpg" alt="" width="180" height="270">
            </div>
        </div>
    </div>
</body>

</html>