@import url("master.css");

/* Posts */

.flex_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.posts {
    margin: 25px 0px 25px 0px;
    padding: 50px 0px 50px 0px;
    background-color: #121212;
    width: 550px;
}

#create {
    display: flex;
    margin: 25px 0px 25px 0px;
    width: 550px;
}

#create button {
    display: block;
    width: 100%;
    background-color: #121212;
    border: none;
    text-align: left;
    border-bottom: 2px solid #FF00CE;
    color: #959595;
    font-size: 16px;
    padding: 15px 25px 15px 25px;
}

#create form {
    margin-left: 25px;
    width: 100%;
}

#create button:hover {
    cursor: pointer;
}

.author {
    color: #959595
}

.content {
    padding: 0px 50px 0px 50px;
}

.content #likes {
    color: #FF00CE;
}

.content .action {
    display: flex;
}

.content .action p {
    margin-left: 15px;
    color: white;
}

.content .action .action-hyperlink {
    margin-right: 50px;
}

.content .comments {
    margin-top: 15px;
    background-color: #0B0B0B;
    border-radius: 15px;
    padding: 25px;
}

#time {
    color: #FF00CE;
}

/* Side navigation */

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    padding: 50px 0px 0px 25px;
    display: flex;
    flex-direction: column;
}

.sidenav a {
    text-decoration: none;
    color: #959595;
    display: block;
    margin: 10px 0px 10px 0px;
    font-weight: lighter;
}

.sidenav a:hover {
    color: #FF00CE;

}