@import url("master.css");

.posts {
    margin: 25px 0px 25px 0px;
    padding: 50px;
    background-color: #121212;
    width: 650px;
}

#time {
    color: #FF00CE;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    padding: 50px 0px 0px 25px;
    display: flex;
    flex-direction: column;
}

.sidenav a {
    text-decoration: none;
    color: #959595;
    display: block;
    margin: 15px 0px 15px 0px;
    font-weight: lighter;
}

.sidenav a:hover {
    color: #FF00CE;

}