@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 0px 200px 0px 200px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
}

#path a {
    margin: 0px 10px 0px 10px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

#time {
    color: tomato;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #121212;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    font-size: 32px;
    font-weight: bold;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #121212;
    resize: none;
    color: white;
    font-size: 18px;
}