@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 0px 200px 0px 200px;
}

h1 {
    font-size: 36px;
    margin: 25px 0px 50px 0px;
}

h2 {
    font-size: 26px;
    margin: 25px 0px 25px 0px;
}

h3 {
    font-size: 16px;
    margin: 50px 0px 15px 0px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

p {
    font-size: 16px;
    margin: 15px 0px 15px 0px;
    font-family: 'Nunito', sans-serif;
}

a:hover {
    color: #FF00CE;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    color: white;
    text-decoration: none;
}

nav h1 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    margin: 25px 75px 25px 0px;
}

#path a {
    margin: 0px 25px 0px 25px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

#path .current {
    color: #FF00CE;
}

.posts {
    margin: 25px 0px 25px 0px;
    padding: 50px;
    background-color: #121212;
    width: 650px;
}

#time {
    color: #FF00CE;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    padding: 50px 0px 0px 25px;
    display: flex;
    flex-direction: column;
}

.sidenav a {
    text-decoration: none;
    color: #959595;
    display: block;
    margin: 15px 0px 15px 0px;
    font-weight: lighter;
}

.sidenav a:hover {
    color: #FF00CE;

}

.flexform {
    display: flex;
    justify-content: center;
}

.form {
    width: 500px;
    margin-top: 50px;
}

label {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    background-color: #121212;
    border: none;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

input[type=submit] {
    background-color: #D800BF;
    color: white;
    padding: 10px 70px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

input[type=submit]:hover {
    background-color: #FF00CE;
}

input:focus {
    border-bottom: 2px solid #FF00CE;
    outline: none;
}

textarea {
    width: 100%;
    height: 150px;
    margin: 15px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: #121212;
    resize: none;
    color: white;
    font-size: 16px;
}

textarea:focus {
    border-bottom: 2px solid #FF00CE;
    outline: none;
}


footer {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}