<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="../css/explore.css">
    <style>
        .form {
            margin-top: 15px;
        }
    </style>
</head>
<body>

    <nav>
        <div id="site-title">
            <a href="/explore">
                <h1>Gamecard</h1>
            </a>
        </div>
        <div id="path">
            <a class="current" href="/explore">Explore</a>
        </div>
    </nav>

    <div class="flexform">
        <div class="form">
            <h1>Create a comment:</h1>
            <form action="/explore/<%= id %>?_method=PATCH" method="post">
                <label for="text">Content:</label>
                <textarea id="text" name="text" cols="30" rows="10"></textarea>
                <input type="submit" value="Create">
            </form>
        </div>
    </div>

</body>
</html>